# Excercises from [pandaspractice.com](https://pandaspractice.com/)

In [18]:
import pandas as pd

df = pd.DataFrame({'name': ['Jeff', 'Esha', 'Jia'], 
                   'age': [30, 56, 8]})

### Select column

Now, you want to select just the name column from the DataFrame.

Complete the function, `name_column(df)`, by having it return only the name column.

In [2]:
def name_column(df):
    return df['name']

### Select rows by label (.loc)

You can select the rows of a DataFrame one of two ways. One way is with `df.loc[...]`. `df.loc[...]` selects rows based on their index value. To select a single row, you can do `df.loc[index_value]`, for example, `df.loc[156]`. To select multiple rows, you can do `df.loc[[index_value1, index_value2]]`, for example, `df.loc[[132, 156]]`.

Suppose you constructed a DataFrame by

Complete the function, `select_Jia_row(df)`, by having it return the row with Jia in it. This should involve hard-coding the index value associated with Jia.

In [3]:
def select_Jia_row(df):
    return df.loc[27]

### Select rows by position (.iloc)

To select a single row, you can do `df.iloc[position]`, for example, `df.loc[1]` selects the row with Esha below. To select multiple rows, you can do `df.iloc[[position1, position2]]`, for example, `df.loc[[0, 2]]`.

Complete the function, `select_first_row(df)`, by having it return the first row in the DataFrame.

In [4]:
def select_first_row(df):
    return df.iloc[0]

### Aggregate a column

What is the minimum value of age? Define a variable `min_ag`e with the value of `df.age.min()` would output.

In [5]:
min_age = df.age.min()

### Creating a new column

Write a function, `add_can_drive(df)` which takes in the DataFrame and returns a new DataFrame with a *column can_drive which is True if the person is 16 or older and False otherwise*.

In [6]:
def add_can_drive(df):
  df['can_drive'] = df['age'] >= 16
  return df

another variant:

In [7]:
def add_can_drive(df):
  df['can_drive'] = [True if x >= 16 else False for x in df['age']]
  return df

### Modify a column

Write a function, `age_in_days(df)` which takes in the DataFrame and returns a new DataFrame with the column age modified to be in terms of days instead of years.

In [9]:
def age_in_days(df):
  df['age'] = [x * 365 for x in df['age']] 
  return df

In [10]:
age_in_days(df)

   name    age
0  Jeff  10950
1  Esha  20440
2   Jia   2920

second variant:

In [16]:
def age_in_days2(df):
  df['age'] *= 365
  return df

In [17]:
age_in_days2(df)

   name    age
0  Jeff  10950
1  Esha  20440
2   Jia   2920

## Filter rows

Write a function, `only_names_that_start_with_j(df`) which takes in the DataFrame and returns a new DataFrame with rows of names that start with 'J'. Hint: the pandas `.str` functions would be helpful here.

In [32]:
def only_names_that_start_with_j(df):
  df = df[df.name == df.name.str.startswith('J')]
  return df

In [33]:
only_names_that_start_with_j(df)

Empty DataFrame
Columns: [name, age]
Index: []

In [34]:
df.name == df.startswith('J')]

AttributeError: 'DataFrame' object has no attribute 'startswith'